@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");

:root {
  --font-color: #283618;
  --light-color: #e0dede;
  --accent-color: #b6c471;
  --element-color-dark: #bc6c25;
  --element-color-medium: #cf8b4d;
  --element-color-light: #dda15e;
}
body {
  font-family: "Nunito", sans-serif;
}
aside {
  background-color: var(--element-color-light);
}

#filter-form input[type="submit"] {
  background-color: var(--font-color);
  border-radius: 20px;
  color: #e0dede;
  border: none;
  padding: 5px 10px;
}
#filter-form input[type="reset"] {
  background-color: var(--light-color);
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
}
